.heading{
    background-color: black;
}
h1{
    text-align: center;
    color: white;

}
h2{
    text-align: center;
    color: white;
    
}
#fname ,#mname,#lname ,#dob{
    border-radius: 5px;
}
#cgpa,#college_name,#marks,#Year{
    border:0;
}
.submit,.clear{
    border-radius: 5px;
    background-color: blue;
    color: red;
}